In [1]:
#1. Discuss string slicing and provide examples.

#Strings>> are characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.
#String Slicing>> Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing.

In [2]:
#Examples
a = "Aadarsh"
a[1]

'a'

In [3]:
a[-1]

'h'

In [4]:
a[7] #it will throw an error as 7th index doesnt exist.

IndexError: string index out of range

In [2]:
string = "I am the best"
string[0:3] #3 is exlusive, [a, b]>> it will give result till b-1 index.

'I a'

In [3]:
string[:-7] #except the last 7 character

'I am t'

In [4]:
# 2. Explain the key features of lists in Python.

#FEATURES:-
#List are ordered collection of items
#List is like a shopping bag which can store everything
#can store any datatype(numbers, strings, even other lists!).

l = ["Aadarsh", 2, 4.5, True, 7-9j]

In [5]:
type(l)

list

In [6]:
#List are mutable
l[3] = False
l

['Aadarsh', 2, 4.5, False, (7-9j)]

In [7]:
#3. Describe how to access, modify, and delete elements in a list with examples.

l

['Aadarsh', 2, 4.5, False, (7-9j)]

In [8]:
#access

l[0]

'Aadarsh'

In [9]:
l[-1]

(7-9j)

In [10]:
#modify
#list are mutable
l[0] = "Hitesh"
l

['Hitesh', 2, 4.5, False, (7-9j)]

In [11]:
l[-1] = 5+9j
l

['Hitesh', 2, 4.5, False, (5+9j)]

In [12]:
l.append("Saujanya")    #add element in the end
l

['Hitesh', 2, 4.5, False, (5+9j), 'Saujanya']

In [13]:
l.insert(1,"Rutu") #insert object before index
l

['Hitesh', 'Rutu', 2, 4.5, False, (5+9j), 'Saujanya']

In [14]:
m = ["a",3.6,"Ritesh"]

In [15]:
l

['Hitesh', 'Rutu', 2, 4.5, False, (5+9j), 'Saujanya']

In [16]:
l.extend(m)
l          #will extend the 1st list

['Hitesh', 'Rutu', 2, 4.5, False, (5+9j), 'Saujanya', 'a', 3.6, 'Ritesh']

In [17]:
#delete elements
l

['Hitesh', 'Rutu', 2, 4.5, False, (5+9j), 'Saujanya', 'a', 3.6, 'Ritesh']

In [18]:
l.pop()#removes the last element

'Ritesh'

In [19]:
l

['Hitesh', 'Rutu', 2, 4.5, False, (5+9j), 'Saujanya', 'a', 3.6]

In [21]:
l.remove("Hitesh")

In [22]:
l

['Rutu', 2, 4.5, False, (5+9j), 'Saujanya', 'a', 3.6]

In [23]:
l.clear() #it deletes the element  of list, but variable list will not be deleted

In [24]:
l

[]

In [25]:
#4. Compare and contrast tuples and lists with examples.

#List are ordered collection of items
#Tuples are ordered collection of elements, similar to list
my_tuple = ("Aadarsh", 2, 6.8)
my_tuple

('Aadarsh', 2, 6.8)

In [26]:
my_list = ["Ritesh", "Gaurav", 8.9, 30]
my_list

['Ritesh', 'Gaurav', 8.9, 30]

In [27]:
#lists are mutable collection of elements,You can add, remove, or modify elements within a list using indexing and slicing. 
#Lists are versatile for storing and managing collections that might change.

# Tuples are immutable collections of elements,You can access elements using indexing and slicing, but you cannot modify the content
# once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.

In [28]:
my_tuple = ("Aadarsh", 2, 6.8)
my_tuple[0] = "Hitesh"

TypeError: 'tuple' object does not support item assignment

In [29]:
my_list = ["Ritesh", "Gaurav", 8.9, 30]
my_list[0] = "Hitesh"

In [30]:
my_list

['Hitesh', 'Gaurav', 8.9, 30]

In [31]:
my_tuple

('Aadarsh', 2, 6.8)

In [32]:
my_tuple[2]

6.8

In [33]:
#5.Describe the key features of sets and provide examples of their use.

#FEATURES:-
#SETS>> are unordered and unique collection of elements
#doesn't allow duplicate elements
#Sets are useful for checking membership (if an item exists) or finding the intersection/difference between sets.

In [34]:
#use case
list1 = [1,2,3,"Brinjal","Brinjal","Apple","Apple"]
s = set(list1)
s

{1, 2, 3, 'Apple', 'Brinjal'}

In [35]:
#use case
my_cloth_list = {"Black shirt", "White Tshirt", "Blue jeans","Black shirt"}

In [36]:
my_cloth_list #removes repetetion.

{'Black shirt', 'Blue jeans', 'White Tshirt'}

In [37]:
#6.Discuss the use cases of tuples and sets in Python programming.

#use of tuples>>use tuples as a data structure where you don't want to modify the data
tuples = ("Aadarsh", 2, 4.5, "Data scientiest" )
tuples

('Aadarsh', 2, 4.5, 'Data scientiest')

In [38]:
tuples[-1] = "Data analytics" #it will throw an error

TypeError: 'tuple' object does not support item assignment

In [39]:
#use case of sets>> use sets as a data structure where you don't want to repete the data.
my_upcoming_exams = {"SSC","Data scientiest interview", "PCS", "UPSC", "SSC", "PCS"}

In [40]:
my_upcoming_exams

{'Data scientiest interview', 'PCS', 'SSC', 'UPSC'}

In [41]:
#7. Describe how to add, modify, and delete items in a dictionary with examples.

#dictionary is a data structure that stores data as key value pair
#keys are unique and immutable.

In [42]:
d = {"name":"Aadarsh", "email":"palaadarsh91@gmail.com", "contact":9155567890}

In [43]:
d

{'name': 'Aadarsh', 'email': 'palaadarsh91@gmail.com', 'contact': 9155567890}

In [44]:
d["address"] = "Mumbai" #to creat a new key value pair

In [45]:
d

{'name': 'Aadarsh',
 'email': 'palaadarsh91@gmail.com',
 'contact': 9155567890,
 'address': 'Mumbai'}

In [46]:
d1 = {"cource":"data scientiest"}

In [47]:
d1

{'cource': 'data scientiest'}

In [48]:
d.update(d1)

In [49]:
d

{'name': 'Aadarsh',
 'email': 'palaadarsh91@gmail.com',
 'contact': 9155567890,
 'address': 'Mumbai',
 'cource': 'data scientiest'}

In [50]:
#to delete elements

d.pop("cource")

'data scientiest'

In [51]:
d

{'name': 'Aadarsh',
 'email': 'palaadarsh91@gmail.com',
 'contact': 9155567890,
 'address': 'Mumbai'}

In [52]:
del (d1)

In [53]:
d1

NameError: name 'd1' is not defined

In [54]:
d.clear()

In [55]:
d

{}

In [58]:
#8. Discuss the importance of dictionary keys being immutable and provide example.

#If the key were a mutable object, its value could change.
#But since whoever changes the key object can't tell that it was being used as a dictionary key, 
#it can't move the entry around in the dictionary.

In [59]:
d = {1:"abc"} #integers as key
d

{1: 'abc'}

In [60]:
d ={1.2:"abc"}#float as key
d

{1.2: 'abc'}

In [61]:
d = {True:2} # boolean values also can be key of dictionary
d

{True: 2}

In [62]:
d = {#:123} #you cannot have # as a key
d

SyntaxError: incomplete input (550532827.py, line 2)

In [63]:
d = {@:"rAM"}

SyntaxError: invalid syntax (3924924512.py, line 1)

In [64]:
d = {(1,2,3):"Aadarsh"}#Tuples can be a key
d

{(1, 2, 3): 'Aadarsh'}

In [65]:
d ={{1,2,3}: "Ajay"} #set cannot be a key
d

TypeError: unhashable type: 'set'